{{/* gotype: github.com/reddec/dreaming-bard/internal/server/views.ErrorParams */}}
{{define "main"}}
    <article>
        <header class="pico-color-red-250">Error</header>
        <p class="pico-color-red-400">
            {{.Error}}
        </p>
    </article>
{{end}}